<form action="/books" method="POST">
    <label>title</label>
    <input type="text" name="title">
    <label>snippet</label>
    <input type="text" name="snippet">
    <label>author</label>
    <input type="text" name="author">
    <input type="submit">
</form>