<h1>Welcome to Deadit!</h1>
<h2> Here are the latest posts! They aren't nefarious at all! </h2>

<p><%=link_to("definitely not a hack", "http://localhost:3001/posts/2", method: "delete")%></p>

<p><%=link_to("5 ways Im not trying to steal your data", "http://localhost:3001/posts/2", method: "delete")%></p>

<p><%=link_to("harmless article", "http://localhost:3001/posts/3", method: "delete")%></p>