<div class="welcome-container">
    <img class="background-image" src="https://images.pexels.com/photos/1002703/pexels-photo-1002703.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
    <div class="welcome-text">
        <h1 class="welcome">Welcome!</h1>
        <h3>Here you'll find a repository for recipes and ingredients made from plants.</h3>
        <h2 class="green-text">See what your friends are cooking and add your own recipes!</h2>
        <h3>This website uses data from the <a href="https://spoonacular.com/">Spoonacular API</a>.</h3>
        <h3 class="green-text">Browse recipes and ingredients that others have posted, or create your own.</h3>
    </div>
</div>