<header>
  <nav>
    <a href="/">Home</a></li>
    <a href="/books">View All Books</a>
    <a href="/books/new" style="color: red; font-weight: bold">Create a New Book</a>
  </nav>
</header>

<%= yield %>