<div class="recipes-container ingredients-container">
    <h1>My Pantry</h1>
    <i>Here are the ingredients you need for the current recipes in your cookbook:</i>
    <div class="recipe-cards">
        <% @ingredients.each do |ingredient| %>
            <div class="recipe-card">
                <h2><%= ingredient.name %></h2>
                <img src="<%= ingredient.image %>" alt="recipe">
            </div>
        <% end %>
    </div>
</div>